<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>user.web.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>IncomeServletAdd</display-name>
    <servlet-name>IncomeServletAdd</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletAdd</servlet-name>
    <url-pattern>/IncomeServletAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StockServletAdd</display-name>
    <servlet-name>StockServletAdd</servlet-name>
    <servlet-class>portfolio.web.servlet.StockServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServletAdd</servlet-name>
    <url-pattern>/StockServletAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>findAllIncome</display-name>
    <servlet-name>findAllIncome</servlet-name>
    <servlet-class>income.web.servlet.findAllIncome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllIncome</servlet-name>
    <url-pattern>/findAllIncome</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>IncomeServletUpdate</display-name>
    <servlet-name>IncomeServletUpdate</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletUpdate</servlet-name>
    <url-pattern>/IncomeServletUpdate</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>IncomeServletDelete</display-name>
    <servlet-name>IncomeServletDelete</servlet-name>
    <servlet-class>income.web.servlet.IncomeServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeServletDelete</servlet-name>
    <url-pattern>/IncomeServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAllPortfolio</display-name>
    <servlet-name>findAllPortfolio</servlet-name>
    <servlet-class>portfolio.web.servlet.findAllPortfolio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAllPortfolio</servlet-name>
    <url-pattern>/findAllPortfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServletUpdate</display-name>
    <servlet-name>StockServletUpdate</servlet-name>
    <servlet-class>portfolio.web.servlet.StockServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServletUpdate</servlet-name>
    <url-pattern>/StockServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>



